.form-button{
    width: 50%;
}

.buttons-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 30px;
    position: relative;
    left: 50px;
}

.input-fields{
    position: relative;
    right: 12px;
}

.title{
    color: #43a047;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
          
}